<footer>
    <p id="copyright">
        &copy; <span id="year"></span> Tumelo Lutaka. All rights reserved.
    </p>
</footer>

<script>
    const yearElement = document.getElementById('year');
    const currentYear = new Date().getFullYear();
    yearElement.textContent = currentYear;
</script>