<!-- Include the header partial -->
<%- include('./partials/header.ejs') %>

<Section>
    <div class="container main-container">
        <h1>Hi <%- name %></h1>
    </div>
</Section>

<!-- Include the footer partial -->
<%- include('./partials/footer.ejs') %>