<!-- Include the header partial -->
<%- include('./partials/header.ejs') %>

<section>
    <div class="container">
        <form action="/login" method="POST" class="form">
            <h4>Login</h4>
        
            <!-- If statement to check for displaying error message -->
            <% if(messages.error) { %>
                <p class="error-text"><%- messages.error %></p>
            <% } %>
        
            <div>
                <p>User ID</p>
                <input type="email" id="email" name="email" placeholder="email" required>
                <input type="password" id="password" name="password" placeholder="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login Now</button>
            <p href="/register">Don't have an account? <a href="/register" class="text-primary">Register</a>.</p>
        </form>
    </div>
</section>

<!-- Include the footer partial -->
<%- include('./partials/footer.ejs') %>